<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Users\aquarant\source\repos\transcatcorp\EmployeeChatBot\EmployeeChatBot\bin\x64\Debug\netcoreapp3.1\EmployeeMonitoringScreen.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables xdt:Transform="Replace">
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>